<h1>Show Blog</h1>

<h2>{{blog.title}}</h2>
<h3>{{blog.content}}</h3>

<button><a href="/blog">Back to all</a></button>
<button><a href="/blog/edit/{{blog._id}}">Edit</a></button>
<button><a href="/blog/{{blog._id}}?_method=DELETE">Delete</a></button>